<body style="background: #C3C3C3;"
<b>Bonjour et bienvenue ☺</b>
    <p>
    Cet ordinateur a été configuré par l'association LINUXMAINE.<br />
    Notre association fait la promotion des logiciels libres.<br />
    Cet ordinateur est fourni avec le système d'exploitation XUBUNTU de GNU/Linux.<br /><br />
    </p>
    <p>
    Un système d'exploitation libre possède de nombreux avantages:<br />
    <ul>
    <li>Il utilise des applications modernes et à jour.</li>
    <li>La licence des logiciels libres est gratuite.</li>
    <li>Un ordinateur équipé de GNU/Linux n'est pas sensible aux virus (si les règles de base de sécurité sont respectées)</li>
    <li>Vous avez accès à des milliers d'applications gratuitement (bureautique, internet, dessin, audio, jeux, etc ...)</li>
    </ul></p>
    <p>      
    N'hésitez pas à visiter <a href="https://linuxmaine.org/spip.php?article58">la page de la campagne de dons</a> 
    afin de nous faire part de vos retours et suggestions.</p>

    <p>Merci à tous ceux qui ont participé au projet de dons pour la continuité pédagogique pendant le confinement.</p>
</body>
